# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output

build/
dist/

# TypeScript
*.tsbuildinfo

# Environment files

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test coverage
coverage/

# Misc
tmp/
temp/
debug/
config.bat
